@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
    text-align: center;
    background-color: black;
}
            
canvas {
    border: 2px solid white;
    background-color: #111;
    margin-bottom: 30px;
}

#hud {
    color: #FFF;
    position: absolute;
    bottom: 10px;
    left: 50%;
    border: 2px solid white;
    padding: 15px;
    transform: translateX(-50%);
    font-size: 19px;
    font-family: 'Press Start 2P', cursive;
}

#pauseButton {
    cursor: pointer;
}
